/* Argentum Sans */

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Argentum Sans";    
    src: url('../fonts/ArgentumSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}









  